@charset "UTF-8";
/* Imports */ /* Variables */
/* Colores */
/* Fonts */
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #3B3561;
}

/* Sección: Index */
.main {
  margin-top: 80px;
}
.main h1 {
  color: #FAA916;
  font-size: 4.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 15px;
}
.main p {
  color: #D3D4D9;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 0 250px;
}
.main .main-img {
  padding-right: 80px;
  padding-top: 50px;
}
.main form ul {
  list-style: none;
}
.main form .main-form {
  color: #D3D4D9;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.main form .main-form .form-row {
  padding: 0.8rem;
}
.main form .main-form .form-row h2 {
  color: #FAA916;
  font-family: "Lato", sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 20px;
  text-decoration: underline;
}
.main form .main-form .form-row #btnCalcular {
  cursor: pointer;
  margin-top: 20px;
  padding: 0.8rem 3.6rem;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #FAA916;
  border: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 0;
}