/* Variables */

/* Colores */
$colorBackground: #3B3561;
$colorPrimario: #D3D4D9;
$colorSecundario: #FAA916;
$colorBlack: #131200;

/* Fonts */
$Lato: 'Lato', sans-serif;
$Noto: 'Noto Sans', sans-serif;